# Ignore the __pycache__ directory
__pycache__/

# Ignore the .conda directory
.conda/

# Ignore the docs directory
docs/

# Ignore the .env file
.env

# Ignore the prompts.py file
prompts.py

# Ignore the test.py file
test.py
